html {
	background-color: #444 !important;
}
body {
	font-family: "Droid Sans", sans-serif !important;
	background-color: #444 !important;
	color: #aaa !important;
}
div[ng-view] {
	width: 96%;
	margin-left: auto;
	margin-right: auto;
}
.slide.slide-left.ng-enter {
    position:absolute;
    -webkit-transition: 0.35s ease-out all;
    -webkit-transform:translate3d(100%,0,0) ;
}
.slide.slide-left.ng-enter.ng-enter-active {
    position:absolute;
    -webkit-transform:translate3d(0,0,0) ;
}
.slide.slide-left.ng-leave {
    position:absolute;
    -webkit-transition: 0.35s ease-out all;
    -webkit-transform:translate3d(0,0,0);
}
.slide.slide-left.ng-leave.ng-leave-active {
    position:absolute;
    -webkit-transform:translate3d(-100%,0,0);
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
}
#login-window-footer>.btn.btn-default,
.btn.btn-default.event-close {
	border-color: #666;
	background: none;
	color: #888;
}
#login-window-footer>.btn.btn-default:hover,
.btn.btn-default.event-close:hover {
	color: #428bca;
	border-color: #428bca;
}
#stage {
	overflow-x:hidden;
}
#stage,
#stage .table {
	font-size: 14px;
}
#stage a {
	text-decoration: none;
}
#login-window-container {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	/*right: 0px;*/
}
#login-window {
	padding: 10px;
	width: 320px;
	border: 1px solid #666;
	border-radius: 3px;
}
#login-window-header {
	height: 22px;
}
#login-window-footer {
	text-align: right;
	padding-top: 10px;
}
#logout-btn {
	color: #ccc;
}
#logout-btn:hover {
	color: #428bca
}
.view-defaults {
	width: 94%;
	margin-left: auto;
	margin-right: auto;
}

#page-header {
	border-bottom: 1px solid #666;
	padding:10px;
	width: 96%%;
	margin-left: auto;
	margin-right: auto;
	color: #ccc;
}
#page-title-label {
	color: #428bca;
	font-weight: bold;
}
.code-block {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	color: #428bca;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
}
.code-block.details {
	width:100%;
	height:100%;
	border-left: none;
	border-radius: 0 3px 3px 0;
}
.code-block.event {
	background: none;
	border: none;
	color: #999;
}
#event-sample {
	background: rgba(33,33,33,0.95);
	border-radius: 3px;
}
#event-sample-btn {
	transition: all 0.35s ease;
	cursor: pointer;
}
#event-sample-btn:hover {
	color: #428bca;
}
.evt-detail-section {
	transition: all 0.35s ease;
	padding: 10px;
}
.input-group>.form-control,
.input-group>.input-group-addon {
	color: #aaa;
	border-color: #666;
}
.input-group>.form-control {
	background: rgba(0,0,0,0.03);
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
}
.evt-detail-section >.input-group>.input-group-addon {
	padding-left:0;
	background:none;
	border:none;
}
.evt-detail-section>.input-group>.form-control {
	border-radius:22px !important;
	height:26px;
}
#handler-list-container {
	border-left:1px solid #555;
	border-right:1px solid #505050;
	border-top:1px solid #555;
	border-radius:3px;
	background: linear-gradient(30deg, rgba(60,60,60,0.6), rgba(60,60,60,0.01)) !important;
	box-shadow: 0 10px 6px -6px rgba(0,0,0,0.3);
}

#handler-editor-container {
	transition: all 0.35s ease;
	border: 1px solid #505050;
	border-bottom: 1px solid #333;
	min-height: 400px;
	border-radius: 3px;
	box-shadow: 0 10px 6px -6px rgba(0,0,0,0.3);
	background: linear-gradient(30deg, rgba(60,60,60,0.65), rgba(60,60,60,0.05)) !important;
}

#handler-editor-header {
	transition: all 0.35s ease;
	padding: 10px 8px 10px 8px !important;
	margin: 0;
	color: #aaa;
}
#handler-editor-header.input-group>.input-group-addon {
	background: none;
	border: 1px solid rgba(0,0,0,0);
	cursor: pointer;
	transition: 0.35s ease-out all;
}
#handler-editor-header.input-group>.input-group-addon:hover {
	color: #428bca;
}
#handler-editor-header.input-group>.form-control {
	transition: all 0.35s ease;
	background: none;
	border: 1px solid rgba(0,0,0,0);
	box-shadow: none;
	border-radius: 3px;
	cursor: text;
}
#handler-editor-header.input-group>.form-control.editable.ng-invalid.ng-invalid-required {
	border: 1px solid rgba(255,0,0,0.35);
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
}
#handler-editor-header.input-group>.form-control:hover {
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
	border: 1px solid #666;
}
#handler-editor-header.input-group>.form-control[disabled='disabled']:hover{
	border: 1px solid rgba(0,0,0,0);
	box-shadow: none;
}
#import-handler-btn,
#new-handler-btn {
	transition: all 0.35s ease;
	padding:10px;
	cursor: pointer;
	color: #707070;
}
#import-handler-btn:hover,
#new-handler-btn:hover {
	color: #428bca;
}
select#lang-selector {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: none;
	transition: 0.35s ease-out all;
	border: none;
	direction: rtl;
	text-align: center;
	cursor: pointer;
}
select#lang-selector:hover {
	color: #428bca;
}
#handler-editor-header.input-group>.input-group-addon[disabled='disabled'],
select#lang-selector[disabled='disabled'] {
	cursor: text;
}
#handler-editor-header.input-group>.input-group-addon[disabled='disabled']:hover,
select#lang-selector[disabled='disabled']:hover {
	color: rgb(170,170,170);
}
#handler-save-btn {
	transition: all 0.35s ease;
	padding:10px;
	position:absolute;
	right:0;
	z-index:10;
	cursor: pointer;
	opacity: 0.6;
}
#handler-save-btn:hover {
	color: #428bca;
	opacity: 1;
}
#handler-editor {
	transition: all 0.35s ease;
	width: 100%;
	height: 380px;
}
#handler-editor-vizor {
	width: 100%;
	height: 380px;
	z-index: 7;
	position: absolute;
	/*left: 0px;*/
	bottom: 21px;
	transition: all 0.35s ease;
	background: rgba(255,255,255,0.1);
}
#handler-editor-vizor.down {
	height: 0px;
}
.ace-ambiance .ace_scroller {
	-wekit-box-shadow: inset 0 0 8px rgba(0,0,0,0.6) !important;
	-moz-box-shadow: inset 0 0 8px rgba(0,0,0,0.6) !important;
	box-shadow: inset 0 0 8px rgba(0,0,0,0.6) !important;
}
.ace_scroller {
	transition: all 0.35s ease;
	background-color: #303030;
}
.ace_scroller.readonly {
	box-shadow: none !important;
}
.ace_gutter {
	transition: all 0.4s ease;
}
.ace_gutter.readonly {
	background: none !important;
	border-right: 1px solid #333 !important;
}
.handler-sha1 {
	padding-left: 3px;
	color: #777;
	font-size: 10px;
}
.list-group > .list-group-item {
	transition: all 0.35s ease;
	background: none;
	color: #aaa;
	border-color: #555 !important;
}
a.list-group-item:hover {
	color: #428bca !important;
	background: rgba(60,60,60,0.5) !important;
}
.handlers.list-group {
	/*padding-right: 10px;*/
	margin-bottom: 0px;
}

.list-group.handlers > a.list-group-item:hover {
	border-left: 1px solid #428bca !important;
}
.list-group.handlers > a.list-group-item {
	border-top: 1px solid #494949 !important;
	border-bottom: 1px solid #494949 !important;
	border-right: 1px solid rgba(0,0,0,0)!important;
	border-left: 1px solid rgba(0,0,0,0)!important;
	border-radius: 0px;
	font-size: 13px;
}
.event-path-header {
	margin-top:20px;
	margin-bottom:25px;
	margin-left: 10px;
	margin-right: 10px;
}
#login-window-body>.input-group>.input-group-addon,
.event-path-header>.input-group>.input-group-addon {
	background: none;
}
.toolbar-btn {
	border: 1px solid #666;
	border-radius: 3px;
	padding: 5px;
	display: inline-block;
	padding-left: 12px;
	padding-right: 12px;
	margin-right: 10px;
}
#handler-editor-toolbar {
	padding-bottom: 10px;
}
#handler-editor-toolbar>.toolbar-btn>.glyphicon {
	font-size: 28px;
}
.toolbar-btn-label  {
	font-size: 10px;
	padding-top: 3px;
	text-align: center;
}
.tooltip.in>.tooltip-arrow {
	border-top-color: rgba(33,33,33,0.8) !important;
	transition: all 0.35s ease;
}
.tooltip.in>.tooltip-inner {
	background: rgba(33,33,33,0.8) !important;
	color: #888 !important;
	transition: all 0.35s ease;
	border-radius: 3px;
}
