<div>
    <h4 class="event-path-header">
        <span>
            <a href="#/ns">namespace</a> / <a href="#/ns/{{Namespace}}">{{Namespace}}</a> / {{EventType}}<sub id="event-sample-btn" data-target="#event-sample" data-toggle="modal" title="View sample event"><span class="glyphicon glyphicon-map-marker" style="padding-left:10px;padding-right:10px;"></span></sub>
        </span>
    </h4>
    <div>
        <div class="row" style="padding:0;margin:0;">
            <div class="col-md-3" style="padding:0;padding-bottom:20px;">
                <div id="handler-list-container">
                    <div class="evt-detail-section">
                        <div class="input-group">
                            <span class="input-group-addon">Handlers</span>
                            <input type="text" class="form-control" ng-model="handlerSearch">
                        </div>
                    </div>
                    <div class="list-group handlers">
                        <a href="javascript:void(0)" ng-repeat="handler in Details.handlers|filter:handlerSearch" class="list-group-item" ng-click="fetchHandlerData(handler)">
                            <div>{{handler.name}}</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-9" style="padding-right:0;padding-bottom:20px;">
                <div id="handler-editor-container">
                    <div class="row" style="margin:0">
                        <div class="col-md-12" style="padding:0">
                            <div class="input-group input-group-sm" id="handler-editor-header">
                                <span class="input-group-addon" ng-click="createNewHandler()" title="New Handler">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </span>
                                <span class="input-group-addon" ng-click="importHandler()" title="Import Handler">
                                    <span class="glyphicon glyphicon-cloud-upload"></span>
                                </span>
                                <input type="text" class="form-control" ng-model="selectedHandler.name" required ng-disabled="!canEditHandlerMeta()" ng-class="{ 'editable': editing }">
                                <div class="input-group-addon" style="padding-top:0;padding-bottom:0;" ng-disabled="!canEditHandlerMeta()">
                                    <select id="lang-selector" ng-model="selectedHandler.language" ng-disabled="!canEditHandlerMeta()">
                                        <option value="perl">perl</option>
                                        <option value="python">python</option>
                                        <option value="ruby">ruby</option>
                                        <option value="sh">shell</option>
                                    </select>
                                </div>
                                <div class="input-group-addon" title="Edit Handler" ng-click="editing=!editing;">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </div>
                                <div class="input-group-addon" title="Delete Handler" data-toggle="modal" data-target="#delete-handler-dialog">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span ng-if="editing" id="handler-save-btn" title="Save Handler" data-toggle="modal" data-target="#save-handler-dialog">
                        <span class="glyphicon glyphicon-ok"></span>
                    </span>
                    <div id="handler-editor-vizor" ng-class="{ 'down': editing }"></div>
                    <div id="handler-editor" ng-model="selectedHandler.content" handler-editor></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="event-sample">
      <div class="modal-dialog">
        <div class="modal-content" style="background:rgba(60,60,60,0.6)">
            <div class="modal-header" style="border-color: #428bca;">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" style="color:#428bca"><b>{{Namespace}} : {{EventType}}</b></h4>
            </div>
            <div class="modal-body">
                <pre class="code-block event">{{Details.sample|json:pretty}}</pre>
            </div>
          <div class="modal-footer" style="border-color: #428bca">
            <button type="button" class="btn btn-default event-close" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="delete-handler-dialog">
      <div class="modal-dialog">
        <div class="modal-content" style="background:rgba(60,60,60,0.7)">
            <div class="modal-header" style="border-color: #428bca;">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" style="color:#428bca">Delete : <span style="color:#999">{{Namespace}}/{{EventType}}/{{selectedHandler.name}}</span></h4>
            </div>
            <div class="modal-body" style="font-weight:bold">
                Are you sure want to delete the event handler?
            </div>
          <div class="modal-footer" style="border-color: #428bca">
          <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteHandler()">Delete</button>
            <button type="button" class="btn btn-default event-close" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="save-handler-dialog">
      <div class="modal-dialog">
        <div class="modal-content" style="background:rgba(60,60,60,0.7)">
            <div class="modal-header" style="border-color: #428bca;">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" style="color:#428bca">Save : <span style="color:#999">{{Namespace}}/{{EventType}}/{{selectedHandler.name}}</span></h4>
            </div>
            <div class="modal-body" style="font-weight:bold">
                Are you sure want to save the event handler?
            </div>
          <div class="modal-footer" style="border-color: #428bca">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveHandler()">Save</button>
            <button type="button" class="btn btn-default event-close" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>